html {
  font-family: -apple-system, Inter, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(3, 43, 31);
  color: white;
}

a {
  color: white;
}

button {
  box-sizing: border-box;
  padding: 8px 32px;
  border-radius: 4px;
  font-size: 1rem;
}
